/* Default Button */

.Shibusa-Button {
  margin: 10px;
  height: 45px;
  font-family: "proxima-nova";
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid #ececec;
  background-color: #ececec;
  color: #676767;
  padding: 0px 25px 0px 25px;
  transition: all .2s ease-in-out;
}

.Shibusa-Button.inverted {
  background-color: white;
  color: #676767;
}

.Shibusa-Button:hover {
  background-color: #dfdfdf;
  color: white;
}

.Shibusa-Button:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #bbb;
}

/* Action Button */
.Shibusa-Button.action {
  background-color: #f96332;
  border: 1px solid #f96332;
  color: white;
}

.Shibusa-Button.action.inverted {
  background-color: white;
  color: #f96332;
}

.Shibusa-Button.action:hover {
  background-color: #f85019;
  color: white;
}

.Shibusa-Button.action:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #bbb;
}

/* Info Button */

.Shibusa-Button.info {
  background-color: #0069ff;
  border: 1px solid #0069ff;
  color: white;
}

.Shibusa-Button.info.inverted {
  background-color: white;
  color: #0069ff;
}

.Shibusa-Button.info:hover {
  background-color: #0052ff;
  color: white;
}

.Shibusa-Button.info:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #bbb;
}

/* Success Button */

.Shibusa-Button.success {
  background-color: #15CD72;
  border: 1px solid #15CD72;
  color: white;
}

.Shibusa-Button.success.inverted {
  background-color: white;
  color: #15CD72;
}

.Shibusa-Button.success:hover {
  background-color: #0CB863;
}

.Shibusa-Button.success.inverted:hover {
  background-color: #0CB863;
  color: white;
}

.Shibusa-Button.success:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #bbb;
}

/* Warning Button */
.Shibusa-Button.warning {
  background-color: #FFC552;
  border: 1px solid #FFC552;
  color: white;
}

.Shibusa-Button.warning.inverted {
  background-color: white;
  color: #FFC552;
}

.Shibusa-Button.warning:hover {
  background-color: #ffa81d;
  color: white;
}

.Shibusa-Button.warning:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #bbb;
}

/* Danger Button */

.Shibusa-Button.danger {
  background-color: #ED4F32;
  border: 1px solid #ED4F32;
  color: white;
}

.Shibusa-Button.danger.inverted {
  background-color: white;
  color: #ED4F32;
}

.Shibusa-Button.danger:hover {
  background-color: red;
  color: white;
}

.Shibusa-Button.danger:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #bbb;
}
